@import 'mixins';

.l-navbar {
    top: 0;
    height: 60px;
    width: 100%;

    @include for-tablet-portrait-up {
        height: 80px;
    }
}

@mixin l-body {
    top: 0;
    height: calc(100vh - 60px);

    @include for-tablet-portrait-up {
        height: calc(100vh - 80px);
    }
}

#content {
    @include  l-body;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 100px;
}

@mixin container-fluid {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@mixin text-block-col {
    @include container-fluid;
    padding: 0 25px;

    h1, h2, h3 {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    @include for-tablet-portrait-up {
        padding: 0 35px;
    }

    @include for-tablet-landscape-up {
    }
}

@mixin text-block-inner {
    max-width: 700px;
    width: 100%;
}

@mixin image-block {
    margin-left: auto;
    margin-right: auto;
}

