@import 'mixins';
@import 'layouts';

.tag-search {
    @include flex-col;
    @include text-block-col;

    .results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

