@import 'mixins';

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    display: grid;
}

.flex-down {
    display: flex;
    flex-direction: column;
}

.tag-sidebar {
    @extend .sidebar;
    @extend .flex-down;
    padding: 0 10px;
}

.tag-search {
    @extend .content;

    .results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

.gallery {
    @extend .content;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-template-rows: repeat(auto-fill, 150px);
}

.show-benwa {
    @extend .content;
}

.post-comments {
    @extend .flex-down;
}

.comments {
    @extend .content;
    @extend .post-comments;

    h3 {
        margin-left: auto;
        margin-right: auto;
    }
}
