<!doctype html>
<html lang="en">
<title>Benwa Online</title>
{% assets "css_min" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
<style>
.navbar_entry {margin: 5px;}
.filler{flex-grow:1; text-align:center}
</style>
<div class='wrapper'>
<div class='box header'>
    <div class='navbar' style="display: flex;">
        <div><h1>Benwa <i>Online</i></h1></div>
        <div class='navbar_entry'><a href="{{ url_for('gallery.show_posts') }}">benwas</a></div>
        <div class='navbar_entry'><a href="{{ url_for('userinfo.show_users') }}">benwusers</a></div>
        <div class='navbar_entry'><a href="{{ url_for('front.faq') }}">fab</a></div>
        <div class="filler"></div>
        % if current_user.is_authenticated
        <div class='navbar_entry'><a href="{{ url_for('gallery.add_post') }}" method="post">add a benwa</a></div>
        <div class='navbar_entry'>{{ current_user.username }}</div>
        <div class='navbar_entry'><a href="{{ url_for('authbp.logout') }}">logout</a></div>
        % else
        <div class='navbar_entry'><a href="{{ url_for('authbp.authorize_info') }}">login/signup</a></div>
        % endif
    </div>
</div>
<div class='box sidebar'>{% block sidebar %}{% endblock %}</div>
<div class='box main'>{% block main %}{% endblock %}</div>
</div>
</html>