{% macro display_faq(entries) %}
<ul class=faq>
{% for entry in entries %}
    <h2> {{ entry.question|safe }} </h2>
    {{ entry.answer|safe }}
    <br><br>
{% endfor %}
</ul>
{% endmacro %}

{% extends "layout.html" %}

{% block body %}
{{ display_faq(entries) }}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
<div style="text-align:center">
<a href="{{ url_for('authbp.authorize') }}">
  <img src="{{ url_for('static', filename='sign-in-with-twitter-link.png') }}">
</a>
</div>

{% endblock %}