{% macro display_faq(entries) %}
{% for entry in entries -%}
<div class='entry-wrapper'>
  <div class="entry">
    <h2> {{ entry.question|safe }}</h2>
    {{ entry.answer|safe }}
  </div>
</div>
{%- endfor %}
{% endmacro %}

{% extends "layout.html" %}

{% block content %}
<div class="faq">
{{ display_faq(entries) }}
<div class="login-block">
<a href="{{ url_for('authbp.authorize') }}">
<img src="{{ url_for('static', filename='sign-in-with-twitter-link.png') }}">
</a>
</div>

</div>
{% endblock %}