{% extends "layout.html" %}
{% block body %}
Big long text block about what infomation is stored<br>
and stuff
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
<form action="{{ url_for('auth.authorize') }}" method="post">
<input type="image" src="{{ url_for('static', filename='sign-in-with-twitter-gray.png') }}" alt="Login with Twitter" />
</form>
{% endblock %}