{% macro display_comments(post) %}
<ul class=comments>
{% for comment in post.comments | reverse %}
    <li>{{ comment.posted_by }} posted comment # {{ comment.id }} on {{ comment.created_on }} {{ display_delete_comment(comment, post) }} </li>
    {{ comment.content|safe }}
{% endfor %}
</ul>
{% endmacro %}

{% macro add_comment(post, form) %}
<form action="{{ url_for('gallery.add_comment', post_id=post.id )}}" method="POST" name="CommentForm">
    {{ form.csrf_token }}
    {{ form.content() }}
    <input type="submit" value="Submit">
</form>
{% endmacro %}

{% macro display_delete_comment(comment, post) %}
{% if g.user.is_authenticated and comment.id|string() in g.user.comments %}<a href="{{ url_for('gallery.delete_comment', post_id=post.id, comment_id=comment.id) }}">X</a>{% endif %}
{% endmacro %}

{% macro display_tags(tags) %}
<ul class="tags">
{% for tag in tags %}
<li><a href="{{ url_for('gallery.show_posts', tags=tag.name) }}">{{ tag.name }}</a> {{ tag.total }} </li>
{% endfor %}
</ul>
{% endmacro %}

{% macro display_all_posts(posts) %}
{% for post in posts %}
<span class="thumb">
    <a href="{{ url_for('gallery.show_post', post_id=post.id) }}">
        <img src = "{{ url_for('static', filename=post.preview.filepath) }}"></a>
</span>
{% endfor %}
{% endmacro %}

{% macro make_view(tags, posts) %}
<section class="side_by_side">
    <div id="one">{{ display_tags(tags) }}</div>
    <div id="two">{{ display_all_posts(posts) }}</div>
</section>
{% endmacro %}

{% macro post_nav(post) %}
{% if post.has_prev %}<a href="{{ url_for('gallery.show_post', post_id=post.prev_num)  }}">Previous</a>
{% else %} Previous {% endif %} |
{% if post.has_next %}<a href="{{ url_for('gallery.show_post', post_id=post.next_num)  }}">Next</a>
{% else %} Next {% endif %}
{% endmacro %}