{% macro display_fields(form) %}
{% for field in form %}
{% if field.type != "CSRFTokenField" %}
<div class='form-row'>
    {{ field.label }} {{ field() }}
</div>
{% endif %}
{% endfor %}
{% endmacro %}


{% import 'macros.html' as macros %}
{% extends "layout_no_sidebar.html" %}

{% block sidebar %}
all benwa tags
{{ macros.display_tags(tags)}}
{% endblock %}

{% block content %}
<form class="upload-form" method="post" enctype=multipart/form-data action="{{ url_for('gallery.add_post') }}">
    <div class="form-wrapper">
    <fieldset>
        <legend>Upload Image</legend>
        {{ display_fields(form) }}
        {{ form.csrf_token }}
    </fieldset>
    <p>Make sure all fields are correct, as only mods can delete posts.</p>
    <input type="submit" value="Submit">
</div>
</form>


{% endblock %}

