{% macro display_comments(comments) %}
<div class="comment">

{% for comment in comments | reverse %}
    <div class="text"> <a href="{{ url_for('userinfo.show_user', user_id=comment.user.id )}}">{{ comment.user.username }} </a> posted comment # {{ comment.id }} on {{ comment.created_on|datetimeformat }} {{ display_delete_comment(comment) }}</div>
    <div class="text">{{ comment.content|safe }}</div>
{% endfor %}
</div>

{% endmacro %}

{% macro add_comment(post, form) %}
<form action="{{ url_for('gallery.add_comment', post_id=post.id )}}" method="POST" name="CommentForm">
    {{ form.csrf_token }}
    {{ form.content() }}
    <input type="submit" value="Submit">
</form>
{% endmacro %}

{% macro display_delete_comment(comment) %}
{% if g.user.is_authenticated and comment.id|string() in g.user.comments %}<a href="{{ url_for('gallery.delete_comment', comment_id=comment.id) }}">X</a>{% endif %}
{% endmacro %}

{% macro display_tags(tags) %}
{% for tag in tags %}
<div><a href="{{ url_for('gallery.show_posts', tags=tag.name) }}">{{ tag.name }}</a> {{ tag.num_posts }}</div>
{% endfor %}
{% endmacro %}

{% macro display_all_posts(posts) %}
{% for post in posts %}
    <a href="{{ url_for('gallery.show_post', post_id=post.id) }}">
        <img alt="{{ post.title }}" src="{{ url_for('static', filename=post.preview.filepath) }}"></a>
{% endfor %}
{% endmacro %}

{% macro make_view(tags, posts) %}
<section class="side_by_side">
    <div id="one">{{ display_tags(tags) }}</div>
    <div id="two">{{ display_all_posts(posts) }}</div>
</section>
{% endmacro %}

{% macro post_nav(post) %}
{% if post.has_prev %}<a href="{{ url_for('gallery.show_post', post_id=post.prev_num)  }}">Previous</a>
{% else %} Previous {% endif %} |
{% if post.has_next %}<a href="{{ url_for('gallery.show_post', post_id=post.next_num)  }}">Next</a>
{% else %} Next {% endif %}
{% endmacro %}