{% extends "layout.html" %}
{% block body %}
    <div class="picture">
        {% for post in posts.items %}
            {% if posts.has_next %}
            <a href="{{ url_for('gallery.rotating', page=posts.next_num, tags=tags) }}">
                <img src = "{{ url_for('static', filename=post.image.filepath) }}"></a>
            {% else %}
                <img src = "{{ url_for('static', filename=post.image.filepath) }}">
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <div class="links">
        {% if posts.has_prev %}
        <a href="{{ url_for('gallery.rotating', page=posts.prev_num, tags=tags) }}">Previous Benwa</a>
        {% else %} Previous Benwa {% endif %}
        |
        {% if posts.has_next %}
        <a href="{{ url_for('gallery.rotating', page=posts.next_num, tags=tags) }}">Next Benwa</a>
        {% else %} Next Benwa {% endif %}
    <br>
    <a href="{{ url_for('gallery.display_posts', tags=tags) }}">galery</a>
    <br>
    </div>

    <div class="comments">
        <h1>write your own comment here!!</h1>

        {% include "_comment_form.html" %}

        </br>

        <h2>Here what others have to say about these loveableb enwas!</h2>
        {% include "_display_comments.html" %}
    </div>

{% endblock %}