{% extends "layout.html" %}
{% block body %}
    <div class="picture">
        {% for pic in benwas.items %}
            {% if benwas.has_next %}
            <a href="{{ url_for('gallery.rotating', page=benwas.next_num) }}">
                <img src = "{{ url_for('static', filename=pic.pic().filename) }}"></a>
            {% else %}
                <img src = "{{ url_for('static', filename=pic.pic().filename) }}">
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <div class="links">
        {% if benwas.has_prev %}
        <a href="{{ url_for('gallery.rotating', page=benwas.prev_num) }}">Previous Benwa</a>
        {% else %}
            Previous Benwa
        {% endif %}

        {% if benwas.has_next %}
            <a href="{{ url_for('gallery.rotating', page=benwas.next_num) }}">Next Benwa</a>
        {% else %}
            Next Benwa
        {% endif %}
    </div>
    <br>
    <div class="comments">
        <h1>write your own comment here!!</h1>

        {% include "_comment_form.html" %}

        </br>

        <h2>Here what others have to say about these loveableb enwas!</h2>
        {% include "_display_comments.html" %}
    </div>

{% endblock %}