.l-navbar {
  top: 0;
  height: 60px;
  width: 100%; }
  @media (min-width: 600px) {
    .l-navbar {
      height: 80px; } }

#content {
  top: 0;
  height: calc(100vh - 60px); }
  @media (min-width: 600px) {
    #content {
      height: calc(100vh - 80px); } }
