.l-navbar {
  top: 0;
  height: 60px;
  width: 100%; }
  @media (min-width: 600px) {
    .l-navbar {
      height: 80px; } }

#content {
  top: 0;
  height: calc(100vh - 60px); }
  @media (min-width: 600px) {
    #content {
      height: calc(100vh - 80px); } }

.comments-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 25px;
  align-items: center; }
  .comments-wrapper h1, .comments-wrapper h2, .comments-wrapper h3 {
    margin-top: 30px;
    margin-bottom: 15px; }
  @media (min-width: 600px) {
    .comments-wrapper {
      padding: 0 35px; } }

.comment-wrapper {
  max-width: 700px;
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px; }

.image {
  justify-self: center;
  flex: 1;
  width: 150px;
  margin-left: auto; }

.text {
  width: 100%;
  padding: 0px 25px; }
  @media (min-width: 600px) {
    .text {
      padding: 0 35px; } }
