@import '../mixins';
@import '../layouts';

.gallery-wrapper {
    @include l-body;
    display: flex;
    align-content: center;
}

.gallery {
    @include l-body;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.post {
    padding: 0;
    max-width: 50%;
    height: auto;

}

.post-image {
    padding: 0;
    max-width: 100%;
    height: auto;
}