@import '../mixins';
@import '../layouts';
@import '../site-settings';

.post-wrapper {
    @include flex-col;
    @include text-block-col;
}

@mixin row {
    @include container-fluid;
    @include text-block-inner;
    margin-bottom: 20px;

    h3, h4 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.post-info-wrapper {
    @include row;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        margin: .25rem 0;
    }
}

.image-wrapper {
    @include container-fluid
    display: flex;
    justify-content: center;

    img {
        padding: 0;
        max-width: 100%;
        height: auto;
    }
}

.post-comments-wrapper {
    @include row;

    text {
        padding: 0;
    }
}

.new-comment-wrapper {
    margin-top: 10px;
    @include container-fluid;
    @include text-block-inner;
    margin-left: auto;
    margin-right: auto;

    textarea {
        height: auto;
    }
}

.like-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-tags-wrapper {
    @include row;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;

    .tag {
        display: flex;
        justify-content: space-evenly;
        flex: none;
        margin: .5rem 0;
        margin-left: 0;
        margin-right: .5rem;
        border: 1px solid hotpink;
        border-radius: 6px;
        width: auto;

        a, span {
            padding: 0 .5rem;

            @include for-tablet-portrait-up {
                padding: 0 .7rem;
            }
        }
    }
}