body {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background: #eee;
}

a, h1, h2 {
    color: #377ba8;
}

h1, h2 {
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

.error {
    background: #f0d6d6;
    padding: 0.5em;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "header header header header header"
    "sidebar main main main main";
}

/* .gallery {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: auto;
} */

div.thumb {
	height: 170px;
	width:160px;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
}

div.thumb img{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
}

ul.navbar {
    overflow: hidden;
}

li.navbar_entry {
	float: left;
}

li.navbar_entry a {
	display: block;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}
