body {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background: #eee;
}

a, h1, h2 {
    color: #377ba8;
}

h1, h2 {
    margin: 0;
}
    /* font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; */
h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

.error {
    background: #f0d6d6;
    padding: 0.5em;
}

/* container for tags */
div.tags {
    width: 10%;
    float: left;
    position: fixed;
    height: 100%;
}

/* the MAIN container */
div.maincontainer {
    width: 88%;
    height: 100%;
    float: right;
    position: relative;
}

span.thumb {
	height: 170px;
	width:160px;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
}

span.thumb img{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
}

ul.navbar {
    overflow: hidden;
}

li.navbar_entry {
	float: left;
}

li.navbar_entry a {
	display: block;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}
