body,div,h1,h2,h3,h4,h5,h6,p,ul,li,dd,dt {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background: #DCDCDC;
}

a {
    color: #43039A;
}

h1 {
    margin: 0;
    color: #43039A;
}

h2 {
    margin: 0;
    color: #43039A;
}

ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.wrapper {
    grid-template-columns: 200px 1fr;
    grid-template-areas: "header header" "sidebar main";
    display: grid;
}
