{% macro display_users(users) %}
    {% for user in users %}
    <div class='user-row'>
        <span><a href="{{ url_for('userinfo.show_user', user_id=user.id) }}">{{ user.username }}</a></span>
        <span>{{ user.comments|length }}</span>
        <span>{{ user.posts|length }}</span>
        <span>no</span>
    </div>
    {% endfor %}
{% endmacro %}

{% macro users_nav(users) %}
{% if users.has_prev %}<a href="{{ url_for('display_users', page=users.prev_num) }}">Next</a>
{% else %} Next {% endif %} |
{% if users.has_next %}<a href="{{ url_for('display_users', page=users.next_num) }}">Prev</a>
{% else %} Prev {% endif %}
{% endmacro %}

{% extends "layout.html" %}
{% block content %}
<div class='users'>
    <div class="users-header">
        <span>Username</span>
        <span>Comments</span>
        <span>Posts</span>
        <span>Benwa?</span>
    </div>
    <div class="users-entries">
    {{ display_users(users) }}

    </div>
</div>

<!-- {{ users_nav(users) }} -->

{% endblock %}