{% macro display_users(users) %}
    {% for user in users %}
    <tr>
        <td><a href="{{ url_for('user.show_user', user_id=user.id) }}">{{ user.username }}</a></td>
        <td>{{ user.comments|count }}</td>
        <td>no</td>
        <td>{{ user.role }}</td>
    </tr>
    {% endfor %}
{% endmacro %}

{% macro users_nav(users) %}
{% if users.has_prev %}<a href="{{ url_for('display_users', page=users.prev_num) }}">Next</a>
{% else %} Next {% endif %} |
{% if users.has_next %}<a href="{{ url_for('display_users', page=users.next_num) }}">Prev</a>
{% else %} Prev {% endif %}
{% endmacro %}

{% extends "layout.html" %}
{% block body %}
<table class='users'>
    <thead>
        <tr>
            <td>Username</td>
            <td>Comments</td>
            <td>Benwa?</td>
            <td>Roles</td>
        </tr>
        {{ display_users(users) }}
    </thead>
</table>
<br>
{{ users_nav(users) }}

{% endblock %}